<div>
    {{#each results as |result|}}
    <div>
        <div>
            <a class="p-link" href="https://vulndb.cyberriskanalytics.com/vulnerabilities/{{result.vulndb_id}}">View in VulnDB</a>
        </div>
        <h1 class="p-title">
            {{result.title}}
        </h1>
        {{#each result.items as |item|}}
        <div>
            <span class="p-key">{{item.key}}</span>
            <span class="p-value">{{item.value}}</span>
        </div>
        {{/each}}

        <h1 class="p-title">Classifications</h1>
        {{#each result.classifications as |item|}}
        <div>
            <span>{{item.longname}}</span>
        </div>
        <!--
        <div>
            <span class="p-key">Description</span>
            <span class="p-value">{{item.description}}</span>
        </div>
        -->
        {{/each}}
        <br />

        <h1 class="p-title">Products Affected</h1>
        {{#each result.products as |product|}}
        <div>
            <strong>{{product.name}}</strong> (Only last 5 versions shown)
        </div>
        {{#each product.versions as |version|}}
        <div>
            <span class="p-key">Version</span>
            <span class="p-value">{{version.name}}</span>
        </div>
        <div>
            <span class="p-key">Affected?</span>
            <span class="p-value">{{version.affected}}</span>
        </div>
        <br /> {{/each}} {{/each}}
        <br />

        <h1 class="p-title">Authors</h1>
        {{#each result.authors as |item|}}
        <div>
            <span class="p-key">Name</span>
            <span class="p-value">{{item.name}}</span>
        </div>
        <div>
            <span class="p-key">Company</span>
            <span class="p-value">{{item.company}}</span>
        </div>
        <div>
            <span class="p-key">Country</span>
            <span class="p-value">{{item.country}}</span>
        </div>
        <div>
            <span class="p-key">Email</span>
            <span class="p-value">{{item.email}}</span>
        </div>
        <br /> {{/each}}
        <hr />
    </div>
    {{/each}}
</div>