<div>
    {{#each results as |result|}}
    <div>
        <div>
            <a class="p-link" href="https://vulndb.cyberriskanalytics.com/vulnerabilities/{{result.vulndb_id}}">View in
                VulnDB</a>
        </div>
        <h1 class="p-title">
            {{result.title}}
        </h1>
        {{#each result.items as |item|}}
        <div>
            <span class="p-key">{{item.key}}</span>
            {{#if item.show}}
            <span class="p-value">{{item.value}}</span>
            {{/if}} {{#if item.hideable}}
            <button {{action "toggle" item.key}}>
                {{#if item.show}} Hide {{else}} Show {{/if}}
            </button>
            {{/if}}
        </div>
        {{/each}}

        <h1 class="p-title">Classifications</h1>
        {{#each result.classifications as |classificationCategory|}}
        <div>
            <strong>{{classificationCategory.category}}</strong>
            {{#each classificationCategory.classifications as |classification|}}
            <div>{{classification}}</div>
            {{/each}}
            <br />
        </div>
        {{/each}}
        <br />

        <h1 class="p-title">References</h1>
        {{#each result.extReferences as |item|}}
        <div>
            <a href="{{item.value}}">{{item.type}}</a>
        </div>
        {{/each}}
        {{#each result.references as |item|}}
        <div>
            <a href="{{item.url}}">{{item.source}}</a>
        </div>
        {{/each}}
        <br />

        <h1 class="p-title">VTEMs</h1>
        {{#each result.vtems as |item|}}
        <div>
            <span class="p-key">{{item.vtem_name}}</span>
            <span class="p-value">{{item.vtem_metric}}</span>
        </div>
        {{/each}}
        <br />

        <h1 class="p-title">Products Affected</h1>
        {{#each result.products as |product|}}
        <div>
            <strong>{{product.name}}</strong> (Only last 5 versions shown)
        </div>
        {{#each product.versions as |version|}}
        <div>
            <span class="p-key">Version</span>
            <span class="p-value">{{version.name}}</span>
        </div>
        <div>
            <span class="p-key">Affected?</span>
            <span class="p-value">{{version.affected}}</span>
        </div>
        {{#each version.cpe as |cpe|}}
        <span class="p-key">{{cpe.cpe}}</span>
        <span class="p-value">{{cpe.type}}</span>
        <br />
        {{/each}}
        <br /> {{/each}} {{/each}}
        <br />

        {{#if hasAuthors}}
        <h1 class="p-title">Authors</h1>
        {{/if}}
        {{#each result.authors as |author|}} {{#each author.fields as |field|}}
        <div>
            <span class="p-key">{{field.key}}</span>
            <span class="p-value">{{field.value}}</span>
        </div>
        {{/each}}
        <br /> {{/each}}
        <hr />
    </div>
    {{/each}}
</div>